In [66]:
import sqlite3

In [67]:
conn = sqlite3.connect("nba.sqlite")
cursor = conn.cursor()

In [68]:
query = "SELECT display_first_last, person_id FROM common_player_info WHERE display_first_last LIKE 'K%Jabbar'"
cursor.execute(query)
rows = cursor.fetchall()

In [69]:
rows

[('Kareem Abdul-Jabbar', '76003')]

In [70]:
import pandas as pd

name_df = pd.read_sql(query, con=conn)

In [71]:
name_df

    display_first_last person_id
0  Kareem Abdul-Jabbar     76003

In [72]:
name_df = name_df.drop_duplicates()
name_df = name_df.reset_index(drop=True)

In [73]:
name_df

    display_first_last person_id
0  Kareem Abdul-Jabbar     76003

In [74]:
draft_df = pd.read_sql_query("SELECT * FROM draft_history", conn)

In [75]:
draft_df

,person_id,player_name,season,round_number,round_pick,overall_pick,draft_type,team_id,team_city,team_name,team_abbreviation,organization,organization_type,player_profile_flag
0,79299,Clifton McNeeley,1947,1,1,1,Draft,1610610031,Pittsburgh,Ironmen,PIT,Texas-El Paso,College/University,0
1,78109,Glen Selbo,1947,1,2,2,Draft,1610610035,Toronto,Huskies,HUS,Wisconsin,College/University,1
2,76649,Eddie Ehlers,1947,1,3,3,Draft,1610612738,Boston,Celtics,BOS,Purdue,College/University,1
3,79302,Walt Dropo,1947,1,4,4,Draft,1610610032,Providence,Steamrollers,PRO,Connecticut,College/University,0
4,77048,Dick Holub,1947,1,5,5,Draft,1610612752,New York,Knicks,NYK,Long Island-Brooklyn,College/University,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8252,1641771,Jalen Slawson,2023,2,24,54,Draft,1610612758,Sacramento,Kings,SAC,Furman,College/University,1
8253,1631209,Isaiah Wong,2023,2,25,55,Draft,1610612754,Indiana,Pacers,IND,Miami (FL),College/University,1
8254,1641844,Tarik Biberovic,2023,2,26,56,Draft,1610612763,Memphis,Grizzlies,MEM,Fenerbahce S.K. (Turkey),Other Team/Club,1
8255,1631218,Trayce Jackson-Davis,2023,2,27,57,Draft,1610612764,Washington,Wizards,WAS,Indiana,College/University,1
8256,1641753,Chris Livingston,2023,2,28,58,Draft,1610612749,Milwaukee,Bucks,MIL,Kentucky,College/University,1

In [76]:
def get_first_picks(row):
    return row['overall_pick'] == 1

In [77]:
first_picks = draft_df.apply(get_first_picks)

KeyError: 'overall_pick'