In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('nba_games.csv', index_col=0)  # The index_col = 0 indicates that the first col of the csv file is the index.  
df.describe()

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,ast%_max_opp,stl%_max_opp,blk%_max_opp,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,total_opp,home_opp,season
count,17772.000000,17772.000000,17772.000000,17772.000000,17772.000000,17772.000000,17772.000000,17772.000000,17772.000000,17772.000000,...,17772.000000,17772.000000,17772.000000,17772.000000,17772.000000,17772.000000,17772.000000,17772.000000,17772.000000,17772.000000
mean,241.564258,241.564258,39.954817,87.020538,0.460049,11.022901,30.800923,0.356935,17.415710,22.627279,...,42.718473,5.937964,9.013302,40.079811,34.864979,178.187430,118.660758,108.348244,0.500000,2018.952284
std,7.002952,7.002952,5.225686,7.233960,0.054656,3.961903,7.905325,0.089744,5.969888,7.274001,...,14.801285,4.493377,6.725743,21.216193,8.505948,40.809205,11.087727,12.786684,0.500014,2.015800
min,240.000000,240.000000,19.000000,60.000000,0.269000,0.000000,4.000000,0.000000,1.000000,1.000000,...,12.800000,0.000000,0.000000,4.600000,22.100000,89.000000,77.000000,64.000000,0.000000,2016.000000
25%,240.000000,240.000000,36.000000,82.000000,0.422000,8.000000,25.000000,0.297000,13.000000,17.000000,...,32.700000,3.800000,5.200000,25.500000,30.000000,148.000000,111.000000,100.000000,0.000000,2017.000000
50%,240.000000,240.000000,40.000000,87.000000,0.459000,11.000000,31.000000,0.355000,17.000000,22.000000,...,40.000000,5.000000,7.500000,33.300000,33.000000,167.000000,119.000000,108.000000,0.500000,2019.000000
75%,240.000000,240.000000,43.000000,92.000000,0.495000,14.000000,36.000000,0.417000,21.000000,27.000000,...,48.900000,6.700000,10.800000,50.000000,37.200000,202.000000,126.000000,117.000000,1.000000,2021.000000
max,340.000000,340.000000,63.000000,128.000000,0.687000,29.000000,70.000000,0.842000,44.000000,64.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,300.000000,162.000000,168.000000,1.000000,2022.000000

Since this is time-series data we will sort the dataframe by the date, similar to what was done in the tutorial.

In [4]:
df = df.sort_values("date")
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
16086,240.0,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,...,69.4,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False
16904,240.0,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,...,53.2,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False
16905,240.0,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,...,30.4,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True
16087,240.0,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,...,37.5,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True
1225,240.0,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,...,33.3,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973,240.0,240.0,34.0,85.0,0.400,15.0,38.0,0.395,14.0,19.0,...,42.9,36.3,133.0,112.0,GSW,107,0,2022,2022-06-10,False
11533,240.0,240.0,41.0,88.0,0.466,9.0,40.0,0.225,13.0,15.0,...,45.0,94.4,300.0,112.0,BOS,94,0,2022,2022-06-13,True
11532,240.0,240.0,31.0,75.0,0.413,11.0,32.0,0.344,21.0,31.0,...,33.3,36.2,222.0,107.0,GSW,104,1,2022,2022-06-13,False
7477,240.0,240.0,34.0,80.0,0.425,11.0,28.0,0.393,11.0,12.0,...,33.3,31.5,186.0,111.0,GSW,103,0,2022,2022-06-16,False
7476,240.0,240.0,38.0,92.0,0.413,19.0,46.0,0.413,8.0,8.0,...,100.0,42.6,141.0,126.0,BOS,90,1,2022,2022-06-16,True

Sorting it only by the date makes the index all over the place now, so we will get reset the index and make sure that it does not create a duplicate column with the old index.

In [5]:
df = df.reset_index(drop=True)  # The drop parameter allows us to drop the old index altogether and does not create a duplicate column.

In [6]:
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,...,69.4,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False
1,240.0,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,...,53.2,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False
2,240.0,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,...,30.4,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True
3,240.0,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,...,37.5,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True
4,240.0,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,...,33.3,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240.0,240.0,34.0,85.0,0.400,15.0,38.0,0.395,14.0,19.0,...,42.9,36.3,133.0,112.0,GSW,107,0,2022,2022-06-10,False
17768,240.0,240.0,41.0,88.0,0.466,9.0,40.0,0.225,13.0,15.0,...,45.0,94.4,300.0,112.0,BOS,94,0,2022,2022-06-13,True
17769,240.0,240.0,31.0,75.0,0.413,11.0,32.0,0.344,21.0,31.0,...,33.3,36.2,222.0,107.0,GSW,104,1,2022,2022-06-13,False
17770,240.0,240.0,34.0,80.0,0.425,11.0,28.0,0.393,11.0,12.0,...,33.3,31.5,186.0,111.0,GSW,103,0,2022,2022-06-16,False
17771,240.0,240.0,38.0,92.0,0.413,19.0,46.0,0.413,8.0,8.0,...,100.0,42.6,141.0,126.0,BOS,90,1,2022,2022-06-16,True

There we go, we have a clean df with the indicies reset and the dates sorted. Now I am going to do a couple more steps straight from the tutorial, the code here is not going to be different, it will only start to be different later on as this is stuff to just do the data cleaning and curation, which is done really well. 

**My goal here is not to make improvements on the data cleaning and curation, rather I want to change the actual prediction parts.** I acknowledge that data is extremely important for the best results in machine learning, but that is not the purpose of this project.

In [ ]:
# In the tutorial we are told to delete the following columns:
del df["mp.1"]
del df["mp_opp.1"]
del df["index_opp"]

In [ ]:
# The target is the next value in the win column, the result of the NEXT game
def add_target(team):
    team["target"] = team["won"].shift(-1)
    return team

# Apply the add_target function for a certain team by grouping the df by that team
df = df.groupby("team", group_keys=False).apply(add_target)
df = df.copy()

In [ ]:
# Replace all of the null occurrences of null values in the target column 
df['target'][pd.isnull(df['target'])] = 2

In [14]:
# Turn the target into a boolean integer value
df['target'] = df['target'].astype(int, errors='ignore')

In [15]:
null_counts = df.isnull().sum()  # Check to see if any columns in the datagrame have a null value. 
null_counts = null_counts[null_counts > 0]
null_counts

+/-             17772
mp_max          17772
mp_max.1        17772
+/-_opp         17772
mp_max_opp      17772
mp_max_opp.1    17772
dtype: int64

In [16]:
# Since these values are null almost always, we can just get rid of all of them
valid_columns = df.columns[~df.columns.isin(null_counts.index)]

In [17]:
df = df[valid_columns].copy()   # Copy allows us to create a new dataframe instead of getting a part of another one.

### Machine Learning